body{
    background-color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.calci{

    max-width:600px;
    border-radius:20px;
    padding:25px;
    margin:0 auto;
    background-color: antiquewhite; 

}

#output{
  width: 100%;
  height:50px;
  font-size: 30px;
  text-align: right;
  margin-bottom: 10px;
}

.buttons{

    display: grid;
    grid-gap:  15px;
    padding: 30px;
    grid-template-columns: repeat(3,1fr);
}

button{

    font-size: 20px;
    height:50px;
    background-color: azure;
    border-radius: 7px;
    cursor: pointer;
    border:none;
}

.button:hover{
    background-color: beige;
}

.body{

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}